<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?define AppName = VipSky ?>
  <?define ManufacturerName = VipSky ?>


  <Bundle Name="$(var.AppName)" Version="$(var.BuildVersion)"
					IconSourceFile="vipsky_icon.ico" Manufacturer="$(var.ManufacturerName)" UpgradeCode="{7F6BC7C2-2B50-448A-9F34-B1EE2276EB5C}"> 
    
    <BootstrapperApplicationRef Id ="ManagedBootstrapperApplicationHost">      
      <PayloadGroupRef Id ="InstallerPayload" />
    </BootstrapperApplicationRef>

    <WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full" />
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf" />    

    <Variable Name="BurnVariable" Type="string" bal:Overridable="yes" Value="[ProgramFilesFolder]$(var.ManufacturerName)" />
    <Variable Name="ApplicationName" Value="$(var.AppName)"/>

   <Chain>
       <PackageGroupRef Id="NetFx452Installer"/>  
       <MsiPackage Id="VipskyClient" SourceFile="$(var.VGA.Install.Client.TargetPath)" Permanent="no" Vital="yes" Compressed="yes" Visible="no">
        <MsiProperty Name="MANUFACTURERFOLDER" Value="[BurnVariable]"/>
      </MsiPackage>    
    </Chain>
  </Bundle>

  <Fragment>
    <PayloadGroup Id="InstallerPayload">
      <Payload SourceFile="$(var.VGA.Install.Bootstrapper.TargetPath)"/>
      <Payload SourceFile="$(var.Vipsky.TargetPath)"/>
      <Payload SourceFile="BootstrapperCore.config" />
      <Payload SourceFile="$(var.VGA.Install.Bootstrapper.TargetDir)Microsoft.Deployment.WindowsInstaller.dll" />
    </PayloadGroup>
  </Fragment>  
    
<Fragment>    
    <util:RegistrySearch Root="HKLM" 
    Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\SKUs\.NETFramework,Version=v4.6.1"
    Result="exists" 
    Variable="Netfx461" />
    
    <util:RegistrySearch Root="HKLM"  
    Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\SKUs\.NETFramework,Version=v4.6.1" 
    Result="exists"
    Variable="Netfx461x64"
    Win64="yes" />
 
    <PackageGroup Id="NetFx452Installer">
      <ExePackage
          Id="Netfx4Full"
          Cache="yes"
          Compressed="yes"
          PerMachine="yes"
          Permanent="yes"
          Vital="yes"
          InstallCommand="/norestart /q"
          SourceFile="packages/netFx46.exe"
          DetectCondition="Netfx461 AND (NOT VersionNT64 OR Netfx461x64)">
      </ExePackage>               
    </PackageGroup>
  </Fragment>
</Wix>